:root{
    --mainFont :  "Open Sans", sans-serif;
    --mainColor : #ff206e;
    --secondary : #fff;
}
body{
    font-family: var(--mainFont);
}
.text__main{
    color: var(--mainColor);
}
.navbar-brand{
    color: var(--secondary);
}
.navbar-nav .nav-item .nav-link{
    font-size: .875rem;
    color: var(--secondary);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-size: .875rem;
    color: var(--mainColor);
}
.hero{
    background-image: url(./../assets/images/bg.jpg);
    background-size: cover;
}
.about{
    background-image: url(./images/light_dot.jpg);
}
.fixed{
    color: #f1f1f1;
    font-size: 5rem;
    position: absolute;
}