:root{
    --mainFont :  "Open Sans", sans-serif;
    --mainColor : #ff206e;
    --secondary : #fff;
}
body{
    font-family: var(--mainFont);
}
.text__main{
    color: var(--mainColor);
}
.navbar-brand{
    color: var(--secondary);
}
.navbar-nav .nav-item .nav-link{
    font-size: .875rem;
    color: var(--secondary);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    font-size: .875rem;
    color: var(--mainColor);
}
.hero{
    background-image: url(./../assets/images/bg.jpg);
    background-size: cover;
}
.about,
.protfolio{
    background-image: url(./images/light_dot.jpg);
}
.fixed{
    color: #f1f1f1;
    font-size: 5rem;
    position: absolute;
}
.protfolio .nav-tabs .nav-item.show .nav-link, 
.protfolio .nav-tabs .nav-link.active {
    color: var(--mainColor);
}
.protfolio .nav-link {
    color: black;
}
.protfolio .nav-tabs .nav-link{
    border: none;
}
.protfolio .nav-tabs {
    border-bottom: none;
}
.Testimonials .img-Testimonial{
    margin-top: -3.5rem;
    margin-left: auto;
    margin-bottom: 1.5rem;
    margin-right: auto;
    width: 85px;
    border-radius: 50%;
    position: relative;
}
.clients {
    margin-top: 3.5rem;
    position: relative;
    border: 2px solid #f1f1f1;
}
.carousel-indicators .dot{
    background-color: black;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin: 5px;
}